// =============================================================================
// Base
// =============================================================================

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: $text;
    cursor: pointer;
}
