.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout__header {
    flex: 0 0 8rem;
}

.layout__body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.layout__sidebar,
.layout__note {
    overflow-y: auto;
}

.layout__sidebar {
    flex: 0 0 30rem;
    border-right: 1px solid $border;
}

.layout__note {
    flex-grow: 1;
}
