.note-preview {
    padding: 1rem;
    background-color: $white;
    border-bottom: 1px solid $border;
    list-style-type: none;
    cursor: pointer;

    &:hover,
    &:focus {
        transition: background 0.1s ease-in-out;
        background-color: $gray-lighter;
    }

    &.is-selected {
        transition: background 0.3s ease-in-out;
        background-color: $color-primary-bg;
    }

    &.note-preview-enter {
        & ~ .note-preview {
            transform: translateY(-100%);
            transition: all 0.3s ease-out;
        }
    }

    &.note-preview-enter-active {
        background-color: lighten($color-primary, 20%);

        & ~ .note-preview {
            transform: translateY(0);
        }
    }

    &.note-preview-leave {
        transform: translateX(0);
        transition: transform 0.3s ease-in;

        & ~ .note-preview {
            transform: translateY(0);
            transition: 0.2s transform ease-out 0.1s;
        }
    }

    &.note-preview-leave-active {
        background-color: lighten($color-danger, 10%);
        transform: translateX(-300%);

        & ~ .note-preview {
            transform: translateY(-100%);
        }
    }
}

.note-preview__list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.note-preview__title,
.note-preview__date,
.note-preview__excerpt {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.note-preview__title {
    margin-bottom: 0.5rem;
    font-size: $font-size-sm;
    font-weight: 600;
}

.note-preview__date {
    display: block;
    margin-bottom: 0.5rem;
    color: $gray;
    font-size: $font-size-xs;
}

.note-preview__excerpt {
    color: $gray;
    font-size: $font-size-xs;
}

.note-preview__count {
    float: left;
    padding: 1rem;
    background-color: $white;
}
