.site-title {
    display: inline-block;
    margin: 0;
    font-size: $font-size-h4;
    font-weight: 100;
    line-height: 4rem;
    vertical-align: top;

    @include screen-max-md {
        display: none;
    }
}
