$color-primary: #0095dd;
$white:         #ffffff;
$gray-darkest:  #333333;
$gray-dark:     #666666;
$gray:          #777777;
$gray-light:    #dddddd;
$gray-lighter:  #fafafa;

$text:          $gray-darkest;
$text-light:    $gray-dark;
$border:        $gray-light;
