// =============================================================================
// Typography Variables
// =============================================================================

$font-family: 'Garamond', serif;
$font-family-actions: 0;

$font-size-base: 2rem;
$font-size-multiplier: 1.2;

$font-size-h1: type-level($font-size-base, 5, $font-size-multiplier);
$font-size-h2: type-level($font-size-base, 4, $font-size-multiplier);
$font-size-h3: type-level($font-size-base, 3, $font-size-multiplier);
$font-size-h4: type-level($font-size-base, 2, $font-size-multiplier);
$font-size-h5: $font-size-base;
$font-size-h6: type-level($font-size-base, -1, $font-size-multiplier);

$font-size-reg: $font-size-base;
$font-size-sm: type-level($font-size-base, -1, $font-size-multiplier);
$font-size-lg: type-level($font-size-base, 1, $font-size-multiplier);

// =============================================================================
// Typography Declarations
// =============================================================================


html {
    font-size: 62.5%; // 10px
}

body {
    font-family: $font-family;
    font-size: 1.8rem;
}
