.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid $border;

    @include screen-min-md {
        padding: 2rem;
    }
}

.header__left {}

.header__right {}
