.note {
    margin: 0;
    padding: 2rem;
    background-color: $white;

    @include screen-min-md {
        padding: 4rem;
    }

    &.is-empty {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $gray-lighter;
        text-align: center;
        transition: background 0.1s ease-in-out;

        .note__date,
        .note__title,
        .note__body,
        .note__delete {
            display: none;
        }

        .note__empty {
            display: block;
        }
    }
}

.note__delete {
    float: right;
    padding: 1rem;
    margin-top: -1rem;
    margin-right: -1rem;
    color: $gray-light;

    &:hover {
        color: $gray;
    }

    i[class^="icon-"]:before {
        margin-right: 0;
        line-height: $font-size-base;
    }

    &--sidebar {
        margin-top: 0;
        margin-right: 0;
    }
}

.note__date {
    display: block;
    margin-bottom: 2rem;
    font-size: type-level($font-size-base, -2, $font-size-multiplier);
}

.note__title,
.note__body {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}

.note__title {
    margin-bottom: 2rem;
    font-size: type-level($font-size-base, 3, $font-size-multiplier);
}

.note__body {
    min-height: 24rem;
    max-width: 80rem;
    resize: none;
    overflow: auto;
}

.note__empty {
    display: none;
}
