.sidebar {
    position: relative;
    padding: 0;
}

.sidebar__main {
}

.sidebar__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30rem;
    border-top: 1px solid $border;
    border-right: 1px solid $border;
}
