.sidebar {
    padding: 0;
    background-color: $white;
    border-right: 1px solid $border;
}

.sidebar__main {
}

.sidebar__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 30rem;
    border-top: 1px solid $border;
    border-right: 1px solid $border;
}
